@media screen and (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }


    /* nav design  */
    .nav-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 20px 0;
    }

    .nav-mid {
        position: static;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: none;

    }

    .nav-mid ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
        text-align: center;


    }

    .nav-mid ul a {
        text-decoration: none;
        color: black;
    }

    .nav-right-icon {

        display: flex;
        gap: 20px;
        font: 1.2rem;


    }

    .nav-right-menubar {
        display: none;
    }

    /* section 1  */
    .section-1 {
        background-image: url(Image/scandinavian-interior-mockup-wall-decal-background\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 716px;
        position: relative;
        object-fit: cover;


    }

    .hero-card {
        background-color: rgba(255, 243, 227, 1);
        height: 443px;
        width: 580px;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        padding: 40px 20px;

    }

    .hero-card h4 {
        padding: 10px 0;
        font: 600;
        font-family: "Poppins", sans-serif;
        line-height: 100%;
        font-size: 24px;
    }

    .hero-card h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 65px;
        color: rgba(184, 142, 47, 1);
        padding: 30px 0;
    }

    .hero-card p {
        padding-bottom: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: rgba(51, 51, 51, 1);
    }

    .samebtn1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;

        background-color: rgba(184, 142, 47, 1);
        color: rgba(255, 255, 255, 1);
        padding: 10px 20px;
        border: none;
        border-radius: 10px;

    }

    /* section 2  */
    .section2-bottom {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        gap: 20px;
        max-width: 1000px;
        margin: auto;

    }

    .section2-grid-item {
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba (0,0,0,0.1);
        transition: transform 0.3s ease-in-out;

    }
    .section2-grid-item:hover{
        transform: scale(1.1);

    }


    /* section 3  */
    .section3-bottom{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        max-width: 1000px;
        margin: auto;
        

    }
    .section3-bottom-item{
        width: 100%;
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba (0,0,0,0.1);
        transition: transform 0.3s ease-in-out;
        background-color: rgba(189, 184, 184, 0.785);

    }
  
    .section3-bottom-item-inner-div{
    
        margin:  40% 0;
    
    }
    .section3-bottom-inner-div{
        padding: 0 40px;
    }
    .section3-bottom-item-inner{
        position: absolute;
   width: 100%;
   max-height: 300px;
   top: 0;
   left: 0;
   text-align: center;
   background-color: black;
   color: white;
   opacity: 0.5;
   display: none;
        
     
     }

     /* section 4  */
     .section4-div {
        display: grid;
        grid-template-columns:  1fr 2fr;
        justify-content: space-between;
        grid-gap: 40px;
        align-items: center;

     }
     .section4-right{
         display: grid;
         grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
         grid-gap: 20px;
         
         
         overflow: hidden;
         
        }
        .section4-right img{
            width: 100%;
        }
        .section4-left{
           width: 100%;
           padding-left: 70px;
        }
        .section4-right {
           width: 100%;
        }

        /* section 5  */
        .section5-bottom{
            display: flex;
            overflow: hidden;
            justify-content: space-between;
            width: 100%;
            /* flex-wrap: wrap; */
        }
        .section5-bottom img{
            width: auto;
            height: auto;
        }
        .section5-bottom-inner{
            display: flex;
            align-items: end;
            gap: 20px;
        }
        .section5-bottom-inner img{
            width: 100%;
            padding-top: 20px;
        }
        .section5-bottom1{
           
            width: 33%;
        }  

        .section5-bottom2{
            width: 33%;
            /* display: flex;
            align-items: center;
            justify-content: center; */
        }
        .section5-bottom2 img{
            

            
        }
        .section5-bottom3{
        
            width: 33%;
        }

        /* fotter  */
        .footer-div-top1{
            grid-column: span 1;
        }
        .footer-div-top4{
            grid-column: span 1;
        }

}